[Unit]
Description=Webhook Service for Raspi
After=multi-user.target
[Service]
Type=idle
User=root
ExecStart=/usr/bin/python3 /root/Git/genshin/webhook_service/webhook.py
Restart=always
RestartSec=0

[Install]
WantedBy=multi-user.target
